# .env


# # Server configuration
# SERVER_HOST=0.0.0.0
# SERVER_PORT=8000

# # DB
# DB_HOST=0.0.0.0
# DB_USER=rosteam
# DB_PASSWORD=1111
# DB_NAME=office_robot_db
# DB_PORT=3306

# #ROS Bridge configuration
# ROS_BRIDGE_HOST = 192.168.1.34
# ROS_BRIDGE_PORT =9090

# #LLM Service configuration
# LLM_GRPC_HOST = 192.168.1.15
# LLM_GRPC_PORT = 50051

# #Vision Service configuration
# VISION_GRPC_HOST = 192.168.1.15
# VISION_GRPC_PORT = 50052

# #Video Stream configuration
# VIDEO_STREAM_HOST = 192.168.1.15
# VIDEO_STREAM_PORT = 54321

# ----------------------------------------------------

# Server configuration
SERVER_HOST=localhost
SERVER_PORT=8000

# DB
DB_HOST=localhost
DB_USER=rosteam
DB_PASSWORD=1111
DB_NAME=office_robot_db
DB_PORT=3306

#ROS Bridge configuration
ROS_BRIDGE_HOST = localhost
ROS_BRIDGE_PORT =9090


#LLM Service configuration
LLM_GRPC_HOST = localhost
LLM_GRPC_PORT = 50051

#Vision Service configuration
VISION_GRPC_HOST = localhost
VISION_GRPC_PORT = 50052

#Video Stream configuration
VIDEO_STREAM_HOST = localhost
VIDEO_STREAM_PORT = 54321

LLM_MODEL_NAME=qwen3:4b